In [362]:
import numpy as np
import pandas as pd
from IPython.display import display
from pprint import pprint

In [363]:
total_range = (0, 10)

antibiotics = ["AB1", "AB2"]
ranges = [(3, 7), (1, 6)]

isolate_names = ["A", "B", "C", "D", "E", "F"]
isolate_mic = [(4, 1), (None, 5), (6, None), (7, 2), (4, 2), (3, 4)]

In [364]:
isolates = pd.DataFrame(
    data=isolate_mic, 
    columns=antibiotics, 
    index=isolate_names
    )
display(isolates)

   AB1  AB2
A  4.0  1.0
B  NaN  5.0
C  6.0  NaN
D  7.0  2.0
E  4.0  2.0
F  3.0  4.0

   AB1  AB2
A  0.0  0.0
B  0.0  0.0
C  0.0  0.0
D  0.0  0.0
E  0.0  0.0
F  0.0  0.0

In [365]:
antibiotic_ranges = {
    abx: abx_range for abx, abx_range in zip(antibiotics, ranges)
    }

antibiotic_fill = {
    abx: [0 for _ in range(total_range[1])] for abx in antibiotics
}

pprint(antibiotic_ranges)
pprint(antibiotic_fill)

{'AB1': (3, 7), 'AB2': (1, 6)}
{'AB1': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0], 'AB2': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}

In [366]:
for abx, fill_list in antibiotic_fill.items():
    lower_limit, upper_limit = antibiotic_ranges[abx]
    for index, value in enumerate(fill_list):
        if index < lower_limit:
            fill_list[index] = None
        elif index > upper_limit:
            fill_list[index] = None
print(antibiotic_fill)

{'AB1': [None, None, None, 0, 0, 0, 0, 0, None, None], 'AB2': [None, 0, 0, 0, 0, 0, 0, None, None, None]}

In [367]:
def count_gap_length(valid_list: list) -> float:    
    total_gap_length = 0
    gap_length = 0
    
    for value in valid_list:
        if value == 0:
            gap_length += 1
        else: # if current value == 1
            if gap_length >= 2: 
                total_gap_length += gap_length - 1
            gap_length = 0
    # If the last values were also 0s and the gap length is at least 2. 
    # Add the length of the gap to the total gap length
    if gap_length >= 2:
        total_gap_length += gap_length - 1
    return total_gap_length

In [368]:
def check_edges(valid_list:list) -> float:    
    edge_penalty = 0
    
    if valid_list[0] == 0: 
        edge_penalty += 0.5
    if valid_list[-1] == 0: 
        edge_penalty += 0.5
    
    return edge_penalty

In [369]:
def score_fill_list(fill_list: list) -> float:
    valid_list = ([i for i in fill_list if i is not None])
    
    if len(valid_list) <= 1:
        raise ValueError("Length of valid list must be greater than 1")
    
    penalty = 0
    penalty += count_gap_length(valid_list)
    penalty += check_edges(valid_list)
    
    return penalty

In [370]:
test_score_fill_list = [
    ([0, 0], 2),
    ([0, 0, 0, 0, 0], 5),
    ([1, 0, 0, 0, 0], 3.5),
    ([0, 0, 0, 0, 1], 3.5),
    ([1, 0, 1, 0, 0], 1.5),
    ([1, 1, 0, 0, 0], 2.5),
    ([0, 1, 0, 1, 0], 1),
    ([0, 0, 1, 0, 0], 3),]


for test, correct_score in test_score_fill_list:
    print(f"Test list: {test}| Score: {score_fill_list(test)} | Correct score: {correct_score}")

Test list: [0, 0]| Score: 2.0 | Correct score: 2
Test list: [0, 0, 0, 0, 0]| Score: 5.0 | Correct score: 5
Test list: [1, 0, 0, 0, 0]| Score: 3.5 | Correct score: 3.5
Test list: [0, 0, 0, 0, 1]| Score: 3.5 | Correct score: 3.5
Test list: [1, 0, 1, 0, 0]| Score: 1.5 | Correct score: 1.5
Test list: [1, 1, 0, 0, 0]| Score: 2.5 | Correct score: 2.5
Test list: [0, 1, 0, 1, 0]| Score: 1.0 | Correct score: 1
Test list: [0, 0, 1, 0, 0]| Score: 3.0 | Correct score: 3